includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src
    excludes_analyse:
        - .git/*
        - bin/*
        - report/*
        - Tests/*
        - vendor/*
    ignoreErrors:
        - '#^Function apply_filters(_ref_array)? invoked with \d parameters, \d required\.$#'
